<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hzwatch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hzwatch">
        <activity
            android:name=".ui.SearchKeyListActivity"
            android:exported="false"
            android:label="@string/title_activity_search_key_list"
            android:theme="@style/Theme.Hzwatch.NoActionBar" />
        <activity
            android:name=".ui.DevelopActivity"
            android:exported="false"
            android:label="@string/title_activity_develop"
            android:theme="@style/Theme.Hzwatch.NoActionBar" />
        <activity
            android:name=".ui.DevelopLogEntryActivity"
            android:exported="false"
            android:label="@string/title_activity_develop"
            android:theme="@style/Theme.Hzwatch.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Hzwatch.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.WatcherService" />
        <service android:name=".service.StorageSaverService" />

        <receiver android:name=".worker.WatcherAlarmReceiver" />
    </application>

</manifest>